header{
    .header{
        nav{
            ul{
                display: flex;
                gap: 10rem;
                list-style: none;
                a{
                    &.active{
                        color: red;
                    }
                }
            }
        }
    }
}